*.pyc
env/
.idea/.name
.idea/baptism.iml
.idea/dictionaries/Dominika.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
tmp/.idea/.name
tmp/.idea/encodings.xml
tmp/.idea/misc.xml
tmp/.idea/modules.xml
tmp/.idea/scopes/scope_settings.xml
tmp/.idea/tmp.iml
tmp/.idea/vcs.xml
tmp/.idea/workspace.xml
tmp/12345
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
